@font-face {
    font-family: LemonJelly;
    src: url("Assets/LemonJelly.ttf") format('truetype');
}
body {
    background: url("Assets/beachbg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 140px;

    background: -webkit-linear-gradient(90deg, rgb(65, 90, 35), rgb(50, 150, 190));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-size: 120px;
    font-family: LemonJelly, serif;
}

.help {
    font-size: 48px;
    font-family: "Comic Sans MS", Comic Sans Pro, serif;
    margin-left: auto;
    font-weight: bold;
}

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 600px;
    width: 450px;
    gap: 10px;
}

.cell {
    border: 2px solid gray;
    border-radius: 15px;
    transition: transform .4s ease;
    background-color: rgba(255, 255, 255, .3);
}

#restart-btn {
    grid-area: 4/1/4/4;
    font-size: 160px;
    font-family: LemonJelly, serif;
    color: rgb(65, 90, 35);
}

.cell:hover {
    transform: scale(1.1);
}

.ball {
    background: url("Assets/star.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 90%;
}

.star {
    background: url("Assets/ball.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 90%;
}