@font-face {
    font-family: LemonJelly;
    src: url("Assets/LemonJelly.ttf") format('truetype');
}
body {
    background: url("Assets/beachbg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 140px;

    background: -webkit-linear-gradient(90deg, rgb(65, 90, 35), rgb(50, 150, 190));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-size: 120px;
    font-family: LemonJelly, serif;
}

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 600px;
    width: 450px;
    gap: 10px;
}

.cell {
    border: 2px solid grey;
    border-radius: 15px;
    transition: transform .4s ease;
    background-color: rgba(255, 255, 255, .3);
    font-size: 50px;
    font-family: LemonJelly, serif;
}

.selected {
    background-color: rgba(255, 255, 255, .8);
}

button.cell:hover {
    transform: scale(1.1);
}

#restart-btn {
    grid-area: 4/1/4/4;
    font-size: 160px;
    font-family: LemonJelly, serif;
    color: rgb(65, 90, 35);
}

.ball {
    background-image: url("Assets/ball.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 90%;
}

.star {
    background-image: url("Assets/star.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 90%;
}

.pineapple {
    background-image: url("Assets/pineapple.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 45%;
}

.flamingo {
    background-image: url("Assets/flamingo.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 90%;
}

#start-btn {
    width: 300px;
    height: 100px;
    font-size: 60px;
    font-family: LemonJelly, serif;
}

.icon-instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    font-size: 50px;
    height: 100px;
    font-family: LemonJelly, serif;
}

.choice-grid {
    width: 300px;
    height: 375px;
    display: grid;
    gap: 10px;
    grid-template-rows: .5fr repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.choice-label {
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: LemonJelly, serif;
    font-size: 60px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 450px;
}

#reset-btn {
    grid-area: 3/1/3/3;
    font-size: 60px;
    font-family: LemonJelly, serif;
}

#back-btn {
    grid-area: 3/1/3/3;
    font-size: 60px;
    font-family: LemonJelly, serif;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}